.month-contents-all{
  display: block;
  margin: 40px;
}

.month-contents-all-title{
  text-align: center;
  font-size: larger;
  text-decoration: underline;
  margin-top: 30px;
}

.month-graph-title{
  margin-bottom: 20px;
}

.month-line-graph-title{
  margin-left: 15%;
}

.month-line_chart-content{
  margin: 0 15%;
}

.month-contents-under{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.month-analysis-title{
  font-weight: bold;
  text-decoration: underline;
  list-style: none;
  color: green;
  margin-bottom: 10px;
}

.month-analysis-content{
  list-style: none;
  font-size: 14px;
  margin-bottom: 5px;
}